# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# Virtual environments
.env/
.venv/
env/
venv/

# Logs and output files
*.log
*.out

# Editor settings
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

# Type checker caches
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# Cython debug symbols
cython_debug/
