""" This file lists the dependencies required for the project. 
Install these dependencies using pip:
pip install -r requirements.txt"""


ipython
numpy
scipy
statsmodels
matplotlib
pandas
seaborn
# sympy
# nose
# scikit-learn
# qiskit[visualization]
# yfinance